{% extends 'base.html.jinja' %}

{% block content %}
	<div id="validation-container" class="mx-auto">
		<div id="info-container" class="mx-auto">
			<h2>{{title}} Info</h2>
			<div class="justify-content-center">
				<p>The proof-of-concept shows that it is possible to block unintended access by requiring people to know the font's name and have access to said font. Of course, this method of validation would never work for public or massively used platforms but might be useful to company systems. Fonts can be easily installed and shared which cannot be prevented.</p>
				<p>A better implication should probably hide the fact that a special font is required, possibly by overriding a less used font. However, for the sake of the demo, it is made apparent.</p>
				<script>
				function loadFont() {
					var val_code = $('.validation-code');
					var font_name = $('#load-font').val();
					val_code.css('font-family', font_name);
				}
				</script>
				<p><b>Load Font:</b> <input id="load-font" type="text" onkeyup="loadFont()" autocomplete="off"> <a href="https://github.com/Yorzaren/font-val/tree/main/example/Dict.ttf">Download and Install Font</a></p>
			</div>
		</div>
		<h2>{{title}}</h2>
		<div class="justify-content-center"><b>Type what you see:</b>
			<span class="validation-code">{{validation_code}}</span>
		</div>
		<form action="hardest_validation" method="POST">
			<div class="mb-3">
				<label for="validation" class="form-label">Input</label>
				<input type="input" class="form-control" id="validation" name="validation" autocomplete="off">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
{% endblock %}
