{% extends 'base.html.jinja' %}

{% block content %}
	<div id="info-container">
		<h2>About</h2>
		<p>This is a proof of concept for using fonts as part of the authentication process. Fonts can associate a character/letter with a glyph (an image representation) which could be unrelated to the character. An example of this is the Wingdings dingbat font. When using Wingdings, typed characters render as pictures unrelated to the characters. It is possible to create private fonts and distribute them to authorized parties.</p>
		<p>By generating a key and associating certain characters with specific letters, it is possible to create a public authentication code. When used with the correct font, the public authentication code will show the private authentication code, which will authenticate the user.</p>
		<p>Check out the rest of the pages to see the proof of concept in action.</p>
	</div>
{% endblock %}
