{% extends 'base.html.jinja' %}

{% block content %}
	<div id="info-container">
		<h2>Authentication Complete</h2>
		<p>You have passed {{v_name}} authentication.</p>
		<p>Check out the rest of the pages.</p>
	</div>
{% endblock %}
