{% extends 'base.html.jinja' %}

{% block content %}
	<div id="validation-container" class="mx-auto">
		<h2>{{title}}</h2>
		<div class="justify-content-center"><b>Type what you see:</b>
			<span class="validation-code">{{validation_code}}</span>
		</div>
		<form action="simple_validation" method="POST">
			<div class="mb-3">
				<label for="validation" class="form-label">Input</label>
				<input type="input" class="form-control" id="validation" name="validation">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
{% endblock %}
